.navbar {
  background-color: #2d4b64;
  color: #eee;
  padding: 0;
  margin-bottom: 2rem;
  .navbar-brand{
    padding-left: 3rem;
    padding-right: 1rem;
    font-weight: 700;
    i{
      color: #eee;
    }
  }
  .nav-item{
    .nav-link {
      color: #eee;
      padding: .7rem 2rem;
    }
    .nav-link:hover {
      background-color: #102332;
    }
  }
  .nav-item {
    .nav-link.active {
      background: #102332;
      color: #eee !important;
      font-weight: 700;
    }
  }
  .dropdown-toggle::after{
    display: none;
  }
  .fa-user{
    font-size: 1.5rem;
  }
}
