.active {
  left: 0px;
  opacity: 1;
}

/* .ais-SearchBox { margin-bottom: 1em } */
.pagination-wrapper {
  margin: 1rem auto;
}
.ais-Pagination-item {
  padding: 0.5rem;
}
.card {
  .card-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    .form-group {
      margin-bottom: 0;
      .form-control {
        padding: 1.2rem !important;
        background: #fbfbfb;
        border-radius: 5px;
        box-shadow: none;
        height: 30px;
        width: 300px;
        border: 0;
        font-weight: 400;
      }
      .card-link {
        margin-right: 1.5rem !important;
        color: #1b2e4b;
        padding: 0;
        display: block;
        position: relative;
        white-space: nowrap;
        font-size: 1rem;
        margin: auto;
      }
      .card-link:hover {
        text-decoration: none;
        color: #0168fa;
        .fa-search {
          color: #0168fa;
        }
      }
    }
  }
}

.search-btn {
  position: absolute;
  left: 1rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/* product editor */
app-product-editor {
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.5);
  margin-top: 46px;
}

.nodata-img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: block;
}
