/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
// regular style toast 
@import '~ngx-toastr/toastr';
 
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
*{
  color: #1b2e4b;
  font-family: Cairo;
}
@font-face {
  font-family: Cairo;
  src: url(assets/fonts/Cairo/Cairo-SemiBold.woff);
}
@font-face {
  font-family: Cairo-Bold;
  src: url(assets/fonts/Cairo/Cairo-Bold.woff);
}

code {
  color: #e01a76;
}

body{
  background-color: #fff !important;
  // font-family: ;
}
*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
  position: absolute;
  left: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #0000008c; 
  border-radius: 5px;
  display: block;
  height: 15% !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
