.order-item-lable {
    margin-right: -40px;
}
.confirm-btn {
    background-color: #dfdcdc;
    color: black;
}

.print-btn {
    background-color: #dfdcdc;
    color: black;
}

.cancel-btn {
    background-color: #dfdcdc;
    color: black;
}

.print-icon {
    font-size: 20px;
}