<div class="row">
    <!-- search box -->
    <div class="col-6">
        <div class="w-100 card mb-3">
            <div class="ais-SearchBox card-search">
                <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
                    <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
                        autocapitalize="off" placeholder="رقم العميل / الإسم" spellcheck="false" maxlength="512"
                        type="search" value="" (keydown)="onKeyUp($event.target.value)" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <select class="custom-select" [(ngModel)]="selectedCityId" (change)="onChangeCity()">
            <option value="-1">المدينة</option>
            <option class="text-primary" *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>

    </div>
    <div class="col-3">
        <select class="custom-select" [(ngModel)]="selectedAreaId" (change)="onChangeArea()">
            <option value="-1">المنطقة</option>
            <option class="text-primary" *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
        </select>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()" [scrollWindow]="false">
                    <table class="table table-dashboard mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0">#</th>
                                <th scope="col" class="border-top-0">كود العميل</th>
                                <th scope="col" class="border-top-0">إسم العميل</th>
                                <th scope="col" class="border-top-0">إسم المحل</th>
                                <th scope="col" class="border-top-0">المدينة</th>
                                <th scope="col" class="border-top-0">المنطقة</th>
                                <th scope="col" class="border-top-0">الحالة</th>
                                <th scope="col" class="border-top-0">الموقع</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="customers.length == 0">
                                <td colspan="4">
                                    <img src="assets/images/nodata.svg" class="nodata-img">
                                </td>
                            </tr>
                            <tr *ngFor="let customer of customers; let i = index" rel="off-canvas" class="canvas-btn">
                                <th (click)="openEditorToUpdateCustomer(customer)" scope="row">{{ i + 1 }}</th>
                                <td (click)="openEditorToUpdateCustomer(customer)">
                                    {{ customer?.customerCode }}
                                </td>
                                <td (click)="openEditorToUpdateCustomer(customer)">
                                    {{ customer?.fullName }}
                                </td>
                                <td (click)="openEditorToUpdateCustomer(customer)">
                                    {{ customer?.shopName }}
                                </td>
                                <td (click)="openEditorToUpdateCustomer(customer)">
                                    {{ customer?.area?.city?.name }}
                                </td>
                                <td (click)="openEditorToUpdateCustomer(customer)">
                                    {{ customer?.area?.name }}
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-primary" *ngIf="customer.isActive" (click)="showDeleteCustomerPopup(customer)"> مفعل</span>
                                    <span class="badge badge-pill badge-warning" *ngIf="!customer.isActive" (click)="showDeleteCustomerPopup(customer)"> غير مفعل</span>
                                </td>
                                <td>
                                    <a [href]="getCustomerLocationLink(customer.locationOnMap)" target="_blank"><i
                                            class="fa fa-map" aria-hidden="true"></i></a>
                                </td>
                                <td class="text-center">
                                    <button (click)="showDeleteCustomerPopup(customer)" class="btn p-0">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-customer-editor class="box" [ngClass]="{ active: openEditor }" *ngIf="openEditor"></app-customer-editor>
    </div>
</div>