<div class="row">
    <!-- search box -->
    <div class="w-100 card mb-3">
        <div class="ais-SearchBox card-search">
            <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
                <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
                    autocapitalize="off" placeholder="رقم العميل / الإسم" spellcheck="false" maxlength="512"
                    type="search" value="" (keydown)="onKeyUp($event.target.value)" />
                <!-- <a class="ais-SearchBox-submit card-link" type="submit" title="Submit the search query.">
                    <i class="fas fa-search ml-2"></i>
                    بحث
                </a> -->
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()" [scrollWindow]="false">
                    <table class="table table-dashboard mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0">رقم</th>
                                <th scope="col" class="border-top-0">كود العميل</th>
                                <th scope="col" class="border-top-0">إسم العميل</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers; let i = index"
                                (click)="openEditorToUpdateCustomer(customer)" rel="off-canvas" class="canvas-btn">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>
                                    {{ customer?.id?.substr(0, 5) }}
                                </td>
                                <td>
                                    {{ customer?.shopName }}
                                </td>
                                <td class="text-center">
                                    <button (click)="deleteCustomer(customer.id)" class="btn p-0">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-customer-editor class="box" [ngClass]="{ active: openEditor }"></app-customer-editor>
    </div>
</div>