<div class="row">
    <div class="col-12">
        <!-- search box -->
        <div class="w-100 card mb-3">
            <div class="ais-SearchBox card-search">
                <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
                    <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
                        (keydown)="onKeyUp($event.target.value)" autocapitalize="off" placeholder="اسم الصنف/كود الصنف"
                        spellcheck="false" maxlength="512" type="search" value="" />
                    <a class="btn btn-outline-info mr-auto" type="button" (click)="openEditorToAddOffer()">
                        اضافة
                    </a>
                </form>
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()" [scrollWindow]="false">
                    <table class="table table-hover table-dashboard mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0">رقم</th>
                                <th scope="col" class="border-top-0">الإسم</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="offers.length == 0">
                                <td colspan="4">
                                    <img src="assets/images/nodata.svg" class="nodata-img">
                                </td>
                            </tr>
                            <tr *ngFor="let offer of offers; let i = index" rel="off-canvas" class="canvas-btn">
                                <th scope="row">{{ i + 1 }}</th>
                                <td (click)="openEditorToUpdateOffer(offer)">
                                    {{ offer?.name }}
                                </td>
                                <td class="text-center">
                                    <button (click)="showDeleteOfferPopup(offer)" class="btn p-0">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-offer-editor class="box" [ngClass]="{ active: openEditor }"></app-offer-editor>
    </div>
</div>