<div class="row">
    <div class="col-12">
        <!-- search box -->
        <div class="w-100 card mb-3">
            <div class="ais-SearchBox card-search">
                <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
                    <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
                        autocapitalize="off" placeholder="رقم الطلب" spellcheck="false" maxlength="512" type="search"
                        (keydown)="onKeyUp($event.target.value)" value="" />
                    <!-- <a class="ais-SearchBox-submit card-link" type="submit" title="Submit the search query.">
                        <i class="fas fa-search ml-2"></i>
                        بحث
                    </a> -->
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                    (scrolled)="onScroll()" [scrollWindow]="false">
                    <table class="table table-dashboard mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0"> # </th>
                                <th scope="col" class="border-top-0"> رقم الطلب</th>
                                <th scope="col" class="border-top-0">حالة الطلب</th>
                                <th scope="col" class="border-top-0">إسم العميل</th>
                                <th scope="col" class="border-top-0">كود العميل</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="orders.length == 0">
                                <td colspan="4">
                                    <img src="assets/images/nodata.svg" class="nodata-img">
                                </td>
                            </tr>
                            <tr *ngFor="let order of orders; let i = index" (click)="openOrderDetails(order)"
                                rel="off-canvas" class="canvas-btn">
                                <th scope="row">{{ i + 1 }}</th>
                                <th scope="row">{{ order.orderNumber }}</th>
                                <td>
                                    <div [ngSwitch]="order.orderStatus">
                                        <span *ngSwitchCase="0" class="badge badge-pill badge-primary">جديد</span>
                                        <span *ngSwitchCase="1" class="badge badge-pill badge-info">تم
                                            التاكيد</span>
                                        <span *ngSwitchCase="2" class="badge badge-pill badge-warning">جاري
                                            الشحن</span>
                                        <span *ngSwitchCase="3" class="badge badge-pill badge-success">تم
                                            التوصيل</span>
                                        <span *ngSwitchCase="4" class="badge badge-pill badge-danger">تم
                                            الإلغاء</span>
                                    </div>
                                </td>
                                <td> {{ order.customerName }} </td>
                                <td> {{order?.customerId}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <app-order-details class="box" [ngClass]="{ active: openDetails }"></app-order-details>
    </div>
</div>