.active {
  left: 0px;
  opacity: 1;
}

/* .ais-SearchBox { margin-bottom: 1em } */
.pagination-wrapper {
  margin: 1rem auto;
}
.ais-Pagination-item {
  padding: 0.5rem;
}
.nav-tabs{
  border-bottom: 0;
}

.table-responsive {
  height: 62.5vh;
}