<div class="row">
    <div class="col-12">
        <!-- search box -->
        <div class="w-100 card mb-3">
            <div class="ais-SearchBox card-search">
                <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
                    <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
                        autocapitalize="off" placeholder="رقم الطلب" spellcheck="false" maxlength="512" type="search"
                        value="" />
                    <a class="ais-SearchBox-submit card-link" type="submit" title="Submit the search query.">
                        <i class="fas fa-search ml-2"></i>
                        بحث
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>طلبات جديدة <span class="badge badge-primary">{{totalPlacedOrders}}</span></a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                            <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="50" (scrolled)="onScrollPlacedOrders()"
                                [scrollWindow]="false">
                                <table class="table table-dashboard mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0"> رقم الطلب</th>
                                            <th scope="col" class="border-top-0">حالة الطلب</th>
                                            <th scope="col" class="border-top-0">إسم العميل</th>
                                            <th scope="col" class="border-top-0">كود العميل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of placedOrders; let i = index"
                                            (click)="openOrderDetails(order)" rel="off-canvas" class="canvas-btn">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>
                                                <div [ngSwitch]="order.orderStatus">
                                                    <span *ngSwitchCase="0"
                                                        class="badge badge-pill badge-primary">جديد</span>
                                                    <span *ngSwitchCase="1" class="badge badge-pill badge-info">تم
                                                        التاكيد</span>
                                                    <span *ngSwitchCase="2" class="badge badge-pill badge-warning">جاري
                                                        الشحن</span>
                                                    <span *ngSwitchCase="3" class="badge badge-pill badge-success">تم
                                                        التوصيل</span>
                                                    <span *ngSwitchCase="4" class="badge badge-pill badge-danger">تم
                                                        الإلغاء</span>
                                                </div>
                                            </td>
                                            <td> {{ order.customerName }} </td>
                                            <td> {{order?.customerId?.substr(0, 5)}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>طلبات تحت التحميل <span class="badge badge-info">{{totalConfirmedOrders}}</span></a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                            <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="50" (scrolled)="onScrollConfirmedOrders()"
                                [scrollWindow]="false">
                                <table class="table table-dashboard mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0"> رقم الطلب</th>
                                            <th scope="col" class="border-top-0">حالة الطلب</th>
                                            <th scope="col" class="border-top-0">إسم العميل</th>
                                            <th scope="col" class="border-top-0">كود العميل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of confirmedOrders; let i = index"
                                            (click)="openOrderDetails(order)" rel="off-canvas" class="canvas-btn">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>
                                                <div [ngSwitch]="order.orderStatus">
                                                    <span *ngSwitchCase="0"
                                                        class="badge badge-pill badge-primary">جديد</span>
                                                    <span *ngSwitchCase="1" class="badge badge-pill badge-info">تم
                                                        التاكيد</span>
                                                    <span *ngSwitchCase="2" class="badge badge-pill badge-warning">جاري
                                                        الشحن</span>
                                                    <span *ngSwitchCase="3" class="badge badge-pill badge-success">تم
                                                        التوصيل</span>
                                                    <span *ngSwitchCase="4" class="badge badge-pill badge-danger">تم
                                                        الإلغاء</span>
                                                </div>
                                            </td>
                                            <td> {{ order.customerName }} </td>
                                            <td> {{order?.customerId?.substr(0, 5)}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>في الطريق إلي العميل <span class="badge badge-warning">{{totalShippedOrders}}</span></a>
                <ng-template ngbNavContent>
                    <div class="card">
                        <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
                            <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="50" (scrolled)="onScrollShippedOrders()"
                                [scrollWindow]="false">
                                <table class="table table-dashboard mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-top-0"> رقم الطلب</th>
                                            <th scope="col" class="border-top-0">حالة الطلب</th>
                                            <th scope="col" class="border-top-0">إسم العميل</th>
                                            <th scope="col" class="border-top-0">كود العميل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of shippedOrders; let i = index"
                                            (click)="openOrderDetails(order)" rel="off-canvas" class="canvas-btn">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>
                                                <div [ngSwitch]="order.orderStatus">
                                                    <span *ngSwitchCase="0"
                                                        class="badge badge-pill badge-primary">جديد</span>
                                                    <span *ngSwitchCase="1" class="badge badge-pill badge-info">تم
                                                        التاكيد</span>
                                                    <span *ngSwitchCase="2" class="badge badge-pill badge-warning">جاري
                                                        الشحن</span>
                                                    <span *ngSwitchCase="3" class="badge badge-pill badge-success">تم
                                                        التوصيل</span>
                                                    <span *ngSwitchCase="4" class="badge badge-pill badge-danger">تم
                                                        الإلغاء</span>
                                                </div>
                                            </td>
                                            <td> {{ order.customerName }} </td>
                                            <td> {{order?.customerId?.substr(0, 5)}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <app-order-details class="box" [ngClass]="{ active: openDetails }"></app-order-details>

    </div>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>