<div class="row">
  <div class="col-12">
    <!-- search box -->
    <div class="w-100 card mb-3">
      <div class="ais-SearchBox card-search">
        <form class="ais-SearchBox-form w-100 form-group d-flex" novalidate>
          <input class="ais-SearchBox-input form-control col-5" autocomplete="off" autocorrect="off"
            (keydown)="onKeyUp($event.target.value)" autocapitalize="off" placeholder="اسم الصنف/كود الصنف"
            spellcheck="false" maxlength="512" type="search" value="" />
          <!-- <a class="ais-SearchBox-submit card-link" type="submit" title="Submit the search query.">
            <i class="fas fa-search ml-2"></i>
            بحث
          </a> -->
          <a class="btn btn-outline-info mr-auto" type="button" (click)="resetSearch()">
            مسح الفلتر
          </a>
          <a class="btn btn-outline-info mr-auto" type="button" (click)="openEditorToAddProduct()">
            اضافة
          </a>
          <div class="upload-btn-wrapper p-2">
            <!-- <button class="white-custom-btn">رفع ملف ايكسل <i class="far fa-file-excel"></i></button> -->رفع ملف
            ايكسل
            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="myfile"
              (change)="importProductsFromExcel($event)" />
          </div>

        </form>
      </div>

    </div>
  </div>
  <div class="col-12">
    <div class="w-100 card  p-2 mb-3">
      <div class="row">
        <div class="col">
          <div class="row mt-2">
            <label for="select-brand" class="col-3 col-form-label">الشركة</label>
            <select class="col-8 form-control" id="select-brand" name="brandId" [(ngModel)]="query.brandId"
              (change)="onChangeBrand()">
              <option selected>إختر النوع</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{
                brand.name
              }}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="row mt-2">
            <label for="select-brand" class="col-3 col-form-label"> نوع الصنف</label>
            <select class="col-8 form-control" id="select-brand" name="productCategoryId"
              [(ngModel)]="query.productCategoryId" (change)="onChangeProductCategory()">
              <option selected [value]="'empty'">إختر الشركة</option>
              <option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                {{ productCategory.name }}</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body" id="collapseOne" aria-labelledby="headingOne">
        <div class="table-responsive" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()" [scrollWindow]="false">
          <table class="table table-hover table-dashboard mb-0">
            <thead>
              <tr>
                <th scope="col" class="border-top-0">رقم</th>
                <th scope="col" class="border-top-0">كود الصنف</th>
                <th scope="col" class="border-top-0">إسم الصنف</th>
                <th scope="col" class="border-top-0">الشركة</th>
                <th scope="col" class="border-top-0">نوع الصنف</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="products.length == 0">
                <td colspan="4">
                  <img src="assets/images/nodata.svg" class="nodata-img">
                </td>
              </tr>
              <tr *ngFor="let product of products; let i = index" rel="off-canvas" class="canvas-btn">
                <th scope="row">{{ i + 1 }}</th>
                <td (click)="openEditorToUpdateProduct(product)">
                  {{ product?.barcode }}
                </td>
                <td (click)="openEditorToUpdateProduct(product)">
                  {{ product?.name }}
                </td>
                <td (click)="openEditorToUpdateProduct(product)">{{ product?.brand?.name }}</td>
                <td (click)="openEditorToUpdateProduct(product)">{{ product?.productCategory?.name }}</td>
                <td class="text-center">
                  <button (click)="showDeleteProductPopup(product)" class="btn p-0">
                    <i class="fas fa-trash-alt text-danger"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <app-product-editor class="box" [ngClass]="{ active: openEditor }" *ngIf="openEditor"></app-product-editor>
  </div>
</div>