<div class="container pb-5 product-editor">
    <div class="row editor-header mb-4 pb-3 justify-content-between">
        <button class="btn btn-large" (click)="openClose()">
            <span class="fa fa-times fx-2"></span>
        </button>
        <button class="btn btn-primary save-edit-btn" (click)="saveData()">حفظ</button>
    </div>
    <div class="row m-3">
        <label for="dist-name" class="col-3 col-form-label">إسم الموزع</label>
        <input type="text" name="name" [(ngModel)]="distributor.name" id="dist-name" class="col-5 offset-4 form-control"
            placeholder="إسم الموزع" />
    </div>
    <div class="row m-3">
        <div class="col">
            <label for="dist-name" class="col-3 col-form-label">المناطق</label>
        </div>
        <div class="col-1">
            <mat-icon class="cursor-pointer" (click)="addNewCityRow()">add</mat-icon>
        </div>
    </div>
    <div class="row m-3">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم المدينة</th>
                    <th scope="col">المناطق</th>
                    <th scope="col">الإجراءت</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of distributor.cities;let i = index">
                    <th scope=" row"> {{i+ 1}}</th>
                    <td>
                        <mat-chip>
                            {{city?.name}}
                        </mat-chip>
                    </td>
                    <td>
                        <mat-chip-list>
                            <mat-chip *ngFor="let area of city.areas; let i = index">
                                {{area.name}}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                    <td>
                        <mat-icon (click)="removeDistributorAreas(city.areas)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row m-3" *ngFor="let row of locationsRows;let i = index" dir="rtl">
        <div class="col-4">
            <mat-form-field appearance="fill" [id]="'city' + i">
                <mat-label>المدينة</mat-label>
                <mat-select [(ngModel)]="row.cityId" [id]="'selectcity' + i" (selectionChange)="cityChanged(row)">
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                        {{city.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-8">
            <mat-form-field class="example-chip-list" [id]="'area' + i">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let area of row.areas" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(row, area)">
                        {{area.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="المناطق" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event, row)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, row)">
                    <mat-option *ngFor="let fruit of fillterAreas(row.cityId) " [value]="fruit">
                        {{fruit.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <div class="row m-3" *ngIf="isEditing">
        <!-- item DistributorUsers -->
        <div class="item-distributorUsers w-100">
            <label for="dist-name" class="col-form-label">المستخدمين</label>
            <div class="row item-distributorUsers-content">
                <div class="distributorUser d-flex w-100 justify-content-between px-3 text-center">
                    <div class="_num w-45">
                        الإسم
                    </div>
                    <div class="_name w-45">
                        الإيميل
                    </div>
                    <div class="_add w-10">
                        <button class="btn text-secondary" (click)="addNewDistributorUser()">
                            <i class="far fa-plus-square fa-2x text-secondary"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let distributorUser of distributor.distributorUsers; let i = index">
                <div class="distributorUser d-flex w-100 justify-content-between px-3 text-center">
                    <div class="_num w-45">
                        <input type="text" name="fullName" [(ngModel)]="distributorUser.fullName"
                            class="form-control" />
                    </div>
                    <div class="_name w-45">
                        <input type="text" name="email" [(ngModel)]="distributorUser.email" class="form-control" />
                    </div>
                    <div class="_add d-flex save-del-btn w-10">
                        <button class="btn p-2" (click)="saveDistributorUser(distributor.distributorUsers[i])">
                            <i class="fas fa-save text-success"></i>
                        </button>
                        <button class="btn p-2" (click)="removeDistributorUser(distributor.distributorUsers[i], i)">
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>
                        <button *ngIf="!distributorUser.emailConfirmed" class="btn p-2"
                            (click)="resendInvitationEmail(distributorUser.email)">
                            <i class="fas fa-reply text-danger"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>