<div class="container pb-5 product-editor">
    <div class="row editor-header mb-4 pb-3 justify-content-between">
        <button class="btn btn-large" (click)="openClose()">
            <span class="fa fa-times fx-2"></span>
        </button>
        <button (click)="saveData()" class="btn btn-primary save-edit-btn">حفظ</button>
    </div>
    <div class="editor-content">
        <div class="row mb-3">
            <div class="col-6">
                <div class="row">
                    <label for="product-name" class="col-4 col-form-label">إسم الشركة</label>
                    <input type="text" id="product-name" name="name" [(ngModel)]="brand.name" class="col-8 form-control"
                        placeholder="إسم الشركة" />
                </div>
            </div>
            <div class="col-5 product-img-wrapper">
                <img [src]="BasePhotoUrl + brand.photoUrl" onerror="this.src='assets/images/placeholder.png';">
                <label for="product-img" class="mt-2">
                    <ng-container *ngIf="brand.photoUrl; else add">
                        <span class="btn btn-outline-secondary">استبدال الصورة</span>
                    </ng-container>
                    <ng-template #add>
                        <span class="btn btn-outline-secondary">إضافة صورة</span>
                    </ng-template>
                </label>
                <input #file type="file" id="product-img" hidden accept='image/*' (change)="preview($event)" />
            </div>
        </div>
    </div>
</div>